CalDav ETag UnmarshalText issue

I experimented a bit with this library and found an issue with caldavClient.QueryCalendar.
I am trying to query a calendar from OpenXchange but I get the error "webdav: failed to unquote ETag: invalid syntax". This error seems to come from the file ["internal/elements.go:345"](https://github.com/emersion/go-webdav/blob/8efde26ef9fd73acccd60b443e4bb7c02da5e6f0/internal/elements.go#L345) and occurs because in the returned event the ETag looks like this: "<D:getetag>http://www.open-xchange.com/etags/6063-1626334223127</D:getetag>".
Unfortunately, I don't know how to fix this. Should you need more information, I will of course make it available.

Program source
```go
package main

import (
	"fmt"
	"github.com/emersion/go-webdav"
	"github.com/emersion/go-webdav/caldav"
	"log"
	"net/http"
	"net/http/httptrace"
	"net/http/httputil"
	"os"
	"time"
)

// transport is an http.RoundTripper that keeps track of the in-flight
// request and implements hooks to report HTTP tracing events.
type transport struct {
	current *http.Request
}

// RoundTrip wraps http.DefaultTransport.RoundTrip to keep track
// of the current request.
func (t *transport) RoundTrip(req *http.Request) (*http.Response, error) {
	t.current = req
	fmt.Println(req)
	resp, err := http.DefaultTransport.RoundTrip(req)
	dump, _ := httputil.DumpResponse(resp, true)

	fmt.Printf("\n\nResponse:\n%q\n", dump)
	return resp, err
}

func main() {
	t := &transport{}

	client := &http.Client{Transport: t}

	baHttpClient := webdav.HTTPClientWithBasicAuth(client, os.Getenv("USERNAME1"), os.Getenv("PASSWORD"))

	caldavClient, err := caldav.NewClient(baHttpClient, os.Getenv("ENDPOINT"))
	if err != nil {
		log.Fatal(err)
	}

	principal, err := caldavClient.FindCurrentUserPrincipal()
	if err != nil {
		log.Fatal(err)
	}

	fmt.Println(principal)
	homeSet, err := caldavClient.FindCalendarHomeSet(principal)
	if err != nil {
		log.Fatal(err)
	}
	fmt.Println(homeSet)
	calendars, err := caldavClient.FindCalendars(homeSet)
	if err != nil {
		log.Fatal(err)
	}
	fmt.Println(calendars)

	query := &caldav.CalendarQuery{
		CompRequest: caldav.CalendarCompRequest{
			Name:  "VCALENDAR",
			Props: []string{"VERSION"},
			Comps: []caldav.CalendarCompRequest{{
				Name: "VEVENT",
				Props: []string{
					"SUMMARY",
					"UID",
					"DTSTART",
					"DTEND",
					"DURATION",
				},
			}},
		},
		CompFilter: caldav.CompFilter{
			Name: "VCALENDAR",
			Comps: []caldav.CompFilter{{
				Name:  "VEVENT",
				Start: time.Now().Add(-92 * time.Hour),
				End:   time.Now().Add(24 * time.Hour),
			}},
		},
	}

	cal, err := caldavClient.QueryCalendar(calendars[0].Path, query)
	if err != nil {
		log.Fatal(err)
	}
	fmt.Println(cal)
}
```
Example Response:
```
[...]

"HTTP/2.0 207 Multi-Status\r\nConnection: close\r\nContent-Type: text/xml; charset=UTF-8\r\nDate: Sat, 17 Jul 2021 12:36:20 GMT\r\nServer: nginx\r\nStrict-Transport-Security: max-age=63072000;\r\nX-Robots-Tag: none\r\n\r\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<D:multistatus xmlns:D=\"DAV:\" xmlns:APPLE=\"http://apple.com/ns/ical/\" xmlns:CAL=\"urn:ietf:params:xml:ns:caldav\" xmlns:CS=\"http://calendarserver.org/ns/\"><D:response><D:href>/caldav/283/1bbda1e5-874d-460e-8114-720623dfdd7f.ics</D:href><D:propstat><D:prop><calendar-data xmlns=\"urn:ietf:params:xml:ns:caldav\"><![CDATA[BEGIN:VCALENDAR\nPRODID:Open-Xchange\nVERSION:2.0\nCALSCALE:GREGORIAN\nBEGIN:VTIMEZONE\nTZID:Europe/Berlin\nTZURL:http://tzurl.org/zoneinfo-outlook/Europe/Berlin\nX-LIC-LOCATION:Europe/Berlin\nBEGIN:DAYLIGHT\nTZOFFSETFROM:+0100\nTZOFFSETTO:+0200\nTZNAME:CEST\nDTSTART:19700329T020000\nRRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU\nEND:DAYLIGHT\nBEGIN:STANDARD\nTZOFFSETFROM:+0200\nTZOFFSETTO:+0100\nTZNAME:CET\nDTSTART:19701025T030000\nRRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU\nEND:STANDARD\nEND:VTIMEZONE\nBEGIN:VEVENT\nDTSTAMP:20210717T100023Z\nSUMMARY:TestEvent\nDTSTART;VALUE=DATE:20150120\nDTEND;VALUE=DATE:20150121\nCLASS:PUBLIC\nX-MICROSOFT-CDO-BUSYSTATUS:FREE\nTRANSP:TRANSPARENT\nRRULE:FREQ=YEARLY;INTERVAL=1;BYMONTH=1;BYMONTHDAY=20\nUID:1bbda1e5-874d-460e-8114-720623dfdd7f\nCREATED:20150114T083240Z\nLAST-MODIFIED:20150114T083240Z\nSEQUENCE:0\nEND:VEVENT\nEND:VCALENDAR\n]]></calendar-data><D:getetag>http://www.open-xchange.com/etags/490-1421224360501</D:getetag><D:getlastmodified xmlns:b=\"urn:uuid:c2f41010-65b3-11d1-a29f-00aa00c14882/\" b:dt=\"dateTime.rfc1123\">Wed, 14 Jan 2015 08:32:40 GMT</D:getlastmodified></D:prop><D:status>HTTP/1.1 200 OK</D:status></D:propstat></D:response><D:response><D:href>/caldav/283/af3262c2-e63f-418b-946d-6e1399167a19.ics</D:href><D:propstat><D:prop><calendar-data xmlns=\"urn:ietf:params:xml:ns:caldav\"><![CDATA[BEGIN:VCALENDAR\nPRODID:Open-Xchange\nVERSION:2.0\nCALSCALE:GREGORIAN\nBEGIN:VTIMEZONE\nTZID:Europe/Berlin\nTZURL:http://tzurl.org/zoneinfo-outlook/Europe/Berlin\nX-LIC-LOCATION:Europe/Berlin\nBEGIN:DAYLIGHT\nTZOFFSETFROM:+0100\nTZOFFSETTO:+0200\nTZNAME:CEST\nDTSTART:19700329T020000\nRRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU\nEND:DAYLIGHT\nBEGIN:STANDARD\nTZOFFSETFROM:+0200\nTZOFFSETTO:+0100\nTZNAME:CET\nDTSTART:19701025T030000\nRRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU\nEND:STANDARD\nEND:VTIMEZONE\nBEGIN:VEVENT\nDTSTAMP:20210717T100023Z\nSUMMARY:TestEvent2\nDTSTART;TZID=Europe/Berlin:20210715T160000\nDTEND;TZID=Europe/Berlin:20210715T170000\nCLASS:PUBLIC\nLOCATION:TestLocation2\nX-MICROSOFT-CDO-BUSYSTATUS:BUSY\nTRANSP:OPAQUE\nUID:af3262c2-e63f-418b-946d-6e1399167a19\nCREATED:20210715T072804Z\nLAST-MODIFIED:20210715T073023Z\nSEQUENCE:1\nBEGIN:VALARM\nTRIGGER:-PT60M\nACTION:DISPLAY\nDESCRIPTION:Alarm\nACKNOWLEDGED:20210715T125900Z\nX-MOZ-LASTACK:20210715T125900Z\nEND:VALARM\nEND:VEVENT\nEND:VCALENDAR\n]]></calendar-data><D:getetag>http://www.open-xchange.com/etags/6063-1626334223127</D:getetag><D:getlastmodified xmlns:b=\"urn:uuid:c2f41010-65b3-11d1-a29f-00aa00c14882/\" b:dt=\"dateTime.rfc1123\">Thu, 15 Jul 2021 07:30:23 GMT</D:getlastmodified></D:prop><D:status>HTTP/1.1 200 OK</D:status></D:propstat></D:response></D:multistatus>\r\n"

2021/07/17 12:36:20 webdav: failed to unquote ETag: invalid syntax
```

According to [RFC 2616 section 3.11](https://datatracker.ietf.org/doc/html/rfc2616#section-3.11), ETag values must be quoted. This server is non-compliant.

Good point, and the RFC is clear on that too. However, it happens from time to time that you have to deal with broken clients or servers that do not comply 100% with the RFCs. I think it is too strict to exclude them completely. Especially because I don't see any way around it in this particular case.
Couldn't there be a warning instead of an error, so that it is still possible to use the library with such a server?